%nav.navbar.navbar-default{style:"margin-bottom:0px;background-color:#ffffff"}
  .container-fluid{style:"border-bottom:2px solid #cfdade"}
    .navbar-header{style:"height:100px"}
      %a.navbar-brand
        .logo{style: "background-image:url(#{asset_url('minwoo_logo.png')})"}
        .logo{style: "width:150px;background-image:url(#{asset_url('fes_logo.png')})"}
        .logo{style: "background-image:url(#{asset_url('wouldyou_logo.png')})"}

= render 'about'

= render 'results'

= render 'footer'
